* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
}

.content__form {
  margin-top: 2%;
}

.content__menu {
  border-radius: 20px;
  font-size: 1rem;
  font-family: 'VT323', monospace;
  background-color: aqua;
  border: none;
  opacity: 0.5;
}

button {
  padding: 3px;
  font-size: 1rem;
  border-radius: 7px;
  font-family: 'VT323', monospace;
  background-color: fuchsia;
  border: none;
  opacity: 0.5;
}

.title {
  text-align: center;
  font-family: 'Audiowide', cursive;
  color: white;
}

body {
  background-color: black;
}
.canvas__container{
  position: absolute;
  width: 100%;
  bottom: 0;
}

canvas {
  width: 90%;
  height: 100%;
  margin: 0 5% 0 5%;
  /*bottom: 0;*/
}

.content__menu {

}

/* If we ever want to return to pure CSS (no canvas) */

/*#container {
  height: 340px;
}*/

/* Creating simple volume bar*/

/*.content--volumebar {
  height: 20px;
  width: 90%;
  margin: 0 5% 0 5%;
  background: linear-gradient(purple, aqua);
  height: calc(100% - 40px);
  position: absolute;
  bottom: 10%;
  text-align: center;
  padding: 3%;
}*/
